@import "./colors";

.intro__main {
  width: 100%;
  padding: 2.5rem 20rem 0 20rem;

  @media screen and (max-width: 768px) {
    padding: 2.5rem 0.8rem 0 0.8rem;
  }
}

.pagination {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  padding: 5rem 0 2.5rem 0;
  margin: 0;

  @media screen and (max-width: 768px) {
    padding: 4rem 0.8rem 0.8rem 0.8rem;
    justify-content: center;
  }

  .pagination-button {
    display: flex;
    border-radius: 4em;
    padding: 0.4rem 1.5rem;
    border: solid transparent;
    background: linear-gradient(135deg, #b55af3 10%, #9c68f9 100%);
    box-shadow: inset 0 0 0 100px white;

    &:hover {
      box-shadow: none;
      color: #ffffff;
    }

    .title {
      max-width: 20rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-wrap: normal;
      overflow: hidden;
    }
  }
}

.section__post {
  h1,
  h2,
  h3 {
    margin-top: 1em;
    padding: 0.3em 0;
  }

  h1 {
    border-bottom: 1px solid $secondary-border-color;
  }

  p {
    margin-bottom: 0.8125rem;

    .language-text {
      background-color: #ffdeeb;
      color: #e55475;
      padding: 0.3em;
      text-shadow: none;
    }
  }

  a:not(.gatsby-resp-image-link) {
    border-bottom: 2px solid $main-yellow;

    &:hover {
      color: #fff;
      background: $main-yellow;
      border: 0;
    }
  }

  .gatsby-resp-image-link {
    padding: 1rem;
  }

  blockquote {
    border-left: 4px solid $main-yellow;
    margin: 0;
    padding: 0 1.666rem;
    color: #676767;
  }

  hr {
    background: $secondary-border-color;
  }
}

.parse__subtitle {
  span + span {
    margin-left: 4px;
  }
}

#disqus_thread {
  width: 100%;
}
