footer{
    text-align: center;
}

a{
    text-decoration: none;
    color: #343a40;
    &:hover {
        color: #748ffc;
    }
}

.section__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    h1,h3 {
        font-weight: 900;
    }

    ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: row;

        li {
            margin-bottom: 0;
            margin-right: 8px;

            &:before {
                content: '/';
                margin-right: 4px;
            }

            &:last-child {
                margin: 0;
            }
        }
    }
}

.section__post {
    h1 {
        color: #748ffc;
    }

    a {
        border-bottom: 2px solid #ffd43b;

        &:hover {
            color: #fff;
            background: #ffd43b;
            border: 0;
        }
    }
}

.section__main {
    small {
        font-style: italic;
    }
}