@import "./colors";
@import "./blog-post";

* {
  box-sizing: border-box;
}

html, body, #___gatsby {
  width: 100%;
  height: 100%;

  div[role="group"] {
    height: 100%;
  }
}

footer {
  text-align: center;
  padding: 1.5rem;
}

a:not(.gatsby-resp-image-link) {
  text-decoration: none;
  color: #343a40;

  &:hover {
    color: $main-purple;
  }
}

::-moz-selection {
  background: $main-purple;
  color: #fff;
}

::selection {
  background: $main-purple;
  color: #fff;
}

.section__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background: #FFF;
  min-height: 3.6rem;

  &.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-height: 36%;
    background-image: linear-gradient( 135deg, #FD6585 10%, #0D25B9 100%);
    color: #ffffff;

    .title {
      flex-grow: 1;
      font-weight: 900;
      text-align: left;
      padding: .8rem;

      p {
        margin: 0;
      }

      .post-section {
        flex-grow: 1;
      }
    }

    .profile-section {
      padding: 0 .8rem;
      .profile {
        width: 100%;
        height: 100%;
        background-color: #ffffff;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        color: $basic-black;
        padding: 1rem 2rem 0 2rem;
      }
    }

    @media screen and (min-width: 769px) {
      .title {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        p + p {
          margin-left: 8px;
        }

        a {
          display: flex;
          flex-direction: row;
        }
      }

      .profile-section {
        padding: 0 16rem;
        .profile {
          padding: 3rem 4rem 0 4rem;
        }
      }
    }
  }

  &.post {
    border-bottom: 1px solid $border-color;
    font-weight: 900;
    font-size: 20px;
    height: 3.6rem;
    padding: .833rem 1.2rem;
  }

  &.section__header--fixed {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
  }
}

.section__main {
  small {
    font-style: italic;
  }
}